<div id="pin-map">
    <ng-template #popContent let-location="location"><a routerLink="../cities/{{location}}">{{location}}</a></ng-template>
    <div id="map" class="map">
        <div
            type="button"
            #popup="ngbPopover"
            id="popup"
            placement="top"
            triggers="manual"
            container="body"
            [ngbPopover]="popContent">
        </div> 
    </div>
</div>
<h6 class="icon-license">Icons courtesy of: Maps Icons Collection https://mapicons.mapsmarker.com</h6>